/* ------------------------------------------------------------------------------------------------------ */
/* Osnovni Setup                                                                                          */
/* ------------------------------------------------------------------------------------------------------ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #fff;
    color: #555;
    font-family: 'Lora', serif;
    /*font-family: 'Roboto', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'DM Sans', sans-serif;*/
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #4245ff66;
}
body::-webkit-scrollbar-thumb {
    background-color: #000552;
}

body::-webkit-scrollbar-thumb {
    background: #000552;
}

/* ------------------------------------------------------------------------------------------------------ */
/* HEADER                                                                                                 */
/* ------------------------------------------------------------------------------------------------------ */

header {
    position: relative;
    background-image: linear-gradient(rgb(0, 5, 82), rgba(66, 69, 255, 0.4)),url(img/ivan-aleksic-WrYM0tBbYj0-unsplash.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
}

.naslov {
    position: absolute;
    top: 25%;
    left: 50%;
    color: rgb(232, 217, 252);
    font-size: 45px;
    transform: translate(-50%, -25%);
    text-align: center;
    text-transform: uppercase;
    opacity: .4;
    z-index: 0;
}

.name {
    position: absolute;
    top: 75%;
    left: 50%;
    color: rgba(17, 17, 17, 1);
    font-size: 45px;
    transform: translate(-50%, -25%);
    text-align: center;
    text-transform: uppercase;
    border: solid 5px;
    padding: 10px;
    text-shadow: 1px 1px #5bcf7e;
    box-shadow: 2px 2px 50px 2px #555;
    background-color: rgb(112, 122, 215, .1);
    /*opacity: .9;*/
    z-index: 0;
}

.firstHalf {
    position: absolute;
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    z-index: 100;
}

.firstHalf > * {
    background: url(img/pexels-steve-johnson-1044990.jpg) no-repeat fixed;
    background-size: cover;
}


.secondHalf {
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 50%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    z-index: 100;
}

.secondHalf > * {
    background: url(img/pexels-steve-johnson-1044990.jpg) no-repeat fixed;
    background-size: cover;
}


.mucho {
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: #5bcf7e;
}





@keyframes moveToUp {
    0% {
        height: 100%; 
    }
    25% {
        height: 25%;
    }
    50% {
        height: 0;
    }
    75% {
        height: 75%;
    }
    100% {
        height: 100%;
    } 
  }

  @keyframes moveToDown {
    0% {
        transform: translateY(0); 
    }
    25% {
        transform: translateY(25%); 
    }
    50% {
        transform: translateY(100%); 
    }
    75% {
        transform: translateY(75%); 
    }
    100% {
        transform: translateY(0%); 
    } 
  }

  @keyframes firstDisappear{
      0% {
        transform: translateY(0);
      }
      100% {
          transform: translateY(-100%);
          display: none;
          visibility: hidden;
      }
  }

  @keyframes secondDisappear{
      0% {
        transform: translateY(0);
      }
      100% {
          transform: translateY(100%);
          display: none;
          visibility: hidden;
      }
  }